@charset "UTF-8";

div#social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  margin-top: 10px;
}

div#social a {
  text-decoration: none;
  color: var(--destaque);
  font-size: 24px;
  transition: color 0.3s;
} 

div#social a:hover {
  color: var(--destaque-inverso);
}

div.flex-row {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: space-around;
  flex-wrap: wrap;
}

div.item {
  background-color: var(--cor-fundo-secao);
  border: 1px solid var(--cor-detalhes);
  border-radius: 8px;
  padding: 8px;
  text-align: center;
  vertical-align: center;
}