@charset "UTF-8";

body.escuro {
  color: var(--cor-texto-escuro);
  background-color: var(--cor-fundo-escuro);
}

body.escuro header {
  color: var(--cor-detalhes-alternativa);
  background-color: black;
  border-bottom: 1px solid var(--cor-detalhes);
}

body.escuro footer {
  color: var(--cor-detalhes-alternativa);
  background-color: black;
  border-top: 1px solid var(--cor-detalhes);
}

body.escuro section {
  background-color: var(--cor-cartao-escuro);
}

body.escuro * > h1 {
  background-color: black;
}