@charset "UTF-8";

#formacao-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 15px;
}
#formacao-container .curso {
  border-left: 5px solid var(--cor-detalhes);
  border-radius: 5px;
  padding-left: 15px;
  transition: border-width 0.5s, border-color 0.5s;
}
#formacao-container .curso:hover {
  border-left-width: 15px;
  border-color: var(--cor-detalhes-alternativa);
  cursor: pointer;
}
#formacao-container .periodo {
  font-weight: bold;
  font-size: 0.8em;
  color: var(--texto);
}
#formacao-container .instituicao {
  font-size: 1.1em;
  color: var(--destaque);
}
#formacao-container .titulacao {
  font-size: 1em;
  color: var(--texto);
}

#formacao-container fieldset {
  max-width: fit-content;
  margin-top: 5px;
  padding-left: 20px;
  border: 2px solid var(--cor-detalhes-alternativa);
  border-radius: 5px;
  padding: 6px;

}

#formacao-container ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 5px;

}

#formacao-container ul  li  a {
  color: var(--cor-detalhes-alternativa);
  text-decoration: none;

}

#formacao-container ul  li  a:hover {
  text-decoration: underline;

}

#formacao-container ul li a:visited {
  color: var(--cor-detalhes);
}

body.escuro #formacao-container ul li a:visited {
  color: rgb(121, 94, 94);

}

#formacao-container legend {
  font-weight: bold;
  color: var(--cor-detalhes-alternativa);
}