@charset "UTF-8";

#formacao-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 15px;
}
#formacao-container .curso {
  background-color: var(--fundo-principal);
  border-left: 5px solid var(--destaque-inverso);
  border-radius: 5px;
  padding-left: 15px;
  transition: border-width 0.5s, border-color 0.5s;
}
#formacao-container .curso:hover {
  border-left-width: 15px;
  border-color: var(--destaque);
  cursor: pointer;
}
#formacao-container .periodo {
  font-weight: bold;
  font-size: 0.8em;
  color: var(--texto);
}
#formacao-container .instituicao {
  font-size: 1.1em;
  color: var(--destaque);
}
#formacao-container .titulacao {
  font-size: 1em;
  color: var(--texto);
}

#formacao-container ul {
  max-width: fit-content;
  margin-top: 5px;
  padding-left: 20px;
  list-style: none;
  border: 2px solid var(--cor-detalhes);
  border-radius: 5px;
  padding: 6px;
}