@charset "utf-8";

progress {
  width: 100%;
  height: 20px;
  border-radius: 8px;
  overflow: hidden;
  appearance: none;
}
progress::-webkit-progress-value {
background-color: var(--cor-detalhes-alternativa);
}

progress::-webkit-progress-bar {
background-color: var(--cor-detalhes);
}