@charset "UTF-8";

/*
  Importação dos arquivos CSS individuais para compor o estilo completo da página.
*/
@import url(article.css);
@import url(colors.css);
@import url(competencia.css);
@import url(div.css);
@import url(formacao.css);
@import url(nav.css);
@import url(projeto-container.css);
@import url(section.css);
@import url(escuro.css);
@import url(progress.css);
@import url(video-container.css);


html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--cor-texto-claro);
  background-color: var(--cor-fundo-claro);
  font-family: "inter", "poppins", "roboto", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  color: var(--cor-detalhes-alternativa);
  background-color: var(--cor-detalhes);
  font-family: "Brush Script MT", cursive;
  font-size: 1.3em;
  font-weight: light;
  border-bottom: 1px solid black;

  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

main {
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin: 0;
}

span.nome {
  margin-right: 10px;
}

footer {
  color: var(--cor-detalhes-alternativa);
  background-color: var(--cor-detalhes);
  text-align: center;
  padding: 10px;
  width: 100%;
}

#botao-tema {
  cursor: pointer;
  color: var(--cor-detalhes-alternativa);
}

.soc-media {
  color: var(--cor-detalhes-alternativa);
  padding: 5px;
  font-size: 1.5em;
  transition: all 0.3s ease;
  border-radius: 8px;
}

.soc-media {
  width: 50px;
  height: 50px;
}


.soc-media:hover {
  border: 4px solid var(--cor-detalhes);
}

.descricao {
  margin-top: 10px;
  font-size: 0.9em;
  line-height: 1.4em;
  text-align: center;
}

@media screen and (min-width: 768px) {

  main {
    display: grid;
    grid-template-columns: auto 300px 1fr auto;
    padding: 50px;
  }

  header {
    font-size: 1.8em;
    letter-spacing: 1px;
  }

  #ficha {
    grid-column: 2/3;
    height: fit-content;
    position: sticky;
    top: 80px;
  }

  section#detalhes {
    grid-column: 3/4;
    width: 100%;
    margin: 20px;
  }

  #competencias {
    grid-template-columns: 1fr 1fr;
  }

  #projeto-container .projeto {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  #projeto-container .projeto-info {
    max-width: 80%;
  }

  #projeto-container .foto {
    aspect-ratio: 1/1;
    max-width: 20%;
    max-height: 200px;
  }

  article h2 {
    text-align: start;
  }
}
