@charset "UTF-8";

.video-container {
  position: relative;
  width: 100%;
  max-width: 560px; /* largura máxima do vídeo */
  margin: 0 auto 50px auto;
  aspect-ratio: 16/9;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}