/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/

:root {
  --fundo-principal: #C6C5B9;
  --texto: #333333;
  --texto-inverso: #ffffff;
  --destaque: #62929E;
  --destaque-inverso: #4A6D7C;
  --fundo-card: #393A10;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




body {
  background-color: var(--fundo-principal);
  color: var(--texto);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--destaque);
  color: var(--texto);
}

nav#menu {
  padding: 0;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

nav#menu ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0;

}

nav#menu ul li a {
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.5s, color 0.5s;
}

nav#menu ul li a:hover {
  background-color: var(--destaque-inverso);
  color: var(--texto);
}

main {
  display: grid;
  grid-template-columns: auto 90% auto; 
  border-radius: 10px;
  text-align: center;
}


section#ficha {
  background-color: var(--fundo-card);
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  grid-column: 2;
}

section#ficha img.foto {
  width: 150px;
  aspect-ratio: 1/1;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid var(--fundo-card);
  outline: 5px solid var(--destaque);
}

section#ficha h1 {
  margin: 10px 0 5px 0;
  color: var(--destaque);
  margin-top: 10px;
}

section#ficha p {
  margin: 5px 0;
  color: var(--texto-inverso);
}


footer {
  background-color: var(--destaque);
  color: var(--texto-inverso);
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}


button.botao-tema {
  background-color: var(--fundo-card);
  border: none;
  color: var(--texto-inverso);
  cursor: pointer;
  padding: 10px 20px;
  margin: 20px;
  border-radius: 5px;
  font-size: 16px;


}
.margin {
  margin: 20px;
}

div#social {
  display: flex;
  justify-content: center;
  gap: 15px;
  width: max-content;
  margin: 0 auto;
  padding: 5px;
  margin-top: 10px;
}

div#social a {
  text-decoration: none;
  color: var(--destaque);
  font-size: 24px;
  transition: color 0.3s;
} 

div#social a:hover {
  color: var(--destaque-inverso);
}